{{ define "form" }}
<!DOCTYPE html>
<html lang="en">
<script>
	var str = new String("{{ .alertMsg }}")
	if (str.length != 0) {
		alert(str);
	}
</script>
{{ template "header" }}
<body style="background-color: #666666;">
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="/" method="POST">
					<span class="login100-form-title p-b-43">
						Blood Pressure
					</span>
					<div class="wrap-input100">
						<input class="input100" id="phone" type="text" name="phone" required>
						<span class="focus-input100"></span>
						<span class="label-input100">Phone Number (required)</span>
					</div>
					<div class="wrap-input100">
						<input class="input100" id="name" type="text" name="name">
						<span class="focus-input100"></span>
						<span class="label-input100">Name</span>
					</div>
					<input id="sys" type="hidden" name="sys" value="{{ .sys }}">
					<input id="dia" type="hidden" name="dia" value="{{ .dia }}">
					<input id="hb" type="hidden" name="hb" value="{{ .hb }}">
					<input id="afib" type="hidden" name="afib" value="{{ .afib }}">
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Send Data
						</button>
					</div>
					<div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							<img src="./images/samh-logo.png" height="60" width="200" />
						</span>
					</div>
				</form>
				<div class="login100-more" style="background-image: url('images/bg-01.jpg');">
				</div>
			</div>
		</div>
	</div>
	{{ template "footer" }}
</body>
</html>
{{ end }}